* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.layout__container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 35.8% 15.5% 12.9% 17.7% 18.1%;
    grid-template-rows: 40% 25.7% 34.3%;
}

.layout__item--white {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.layout__item--gray {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background: #828282;
    padding: 5%;
}

.layout__item--brown {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background: #a6806b;
}

.layout__item--red {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    background: #a61c1c;
}

.layout__title {
    font-weight: 600;
    font-size: 64px;
    margin-bottom: 137px;
    line-height: 1.1;
    text-align: center;
    color: #000;
}

.layout__icons {
    display: flex;
    gap: 20px;
}

.layout__icon {
    height: 23px;
    align-items: center;
    justify-content: center;
}

.layout__icon:last-child img {
    width: 29px;
}

.layout__text {
    font-weight: 300;
    font-size: 18px;
    color: #f2f2f2;
    margin-top: 95px;
}

.layout__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.layout__item:nth-child(5) {
    /* Img1 */
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.layout__item:nth-child(6) {
    /* Img2 */
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.layout__item:nth-child(7) {
    /* Img3 */
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.layout__item:nth-child(8) {
    /* Img4 */
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.layout__item:nth-child(9) {
    /* Img5 */
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

.layout__item:nth-child(10) {
    /* Img6 */
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}

@media (max-width: 1200px) {
    .layout__title {
        font-size: 5vw;
        margin-bottom: 10%;
    }

    .layout__text {
        font-size: 1.8vw;
        margin-top: 15%;
    }
}

@media (max-width: 768px) {
    .layout__container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        height: auto;
        min-height: 100vh;
        overflow-y: auto;
    }

    .layout__title {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .layout__text {
        font-size: 12px;
        margin-top: 40px;
    }

    .layout__item--white {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        height: 350px;
    }

    .layout__item:nth-child(5) { /* Img1 */
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        height: 350px;
    }

    .layout__item--gray {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        height: 200px;
    }

    .layout__item:nth-child(8) { /* Img4 */
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        height: 200px;
    }

    .layout__item--brown {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        height: 200px;
    }

    .layout__item:nth-child(6) { /* Img2 */
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        height: 250px;
    }

    .layout__item:nth-child(7) { /* Img3 */
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        height: 250px;
    }

    .layout__item:nth-child(9) { /* Img5 */
        grid-column: 3 / 4;
        grid-row: 4 / 6;
        height: 450px;
    }

    .layout__item--red {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        height: 200px;
    }

    .layout__item:nth-child(10) { /* Img6 */
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        height: 200px;
    }

    .layout__icons {
        gap: 18px;
    }
}

@media (max-width: 320px) {
    .layout__container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(7, auto);
        height: auto;
        min-height: 100vh;
        overflow-y: auto;
    }

    .layout__title {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .layout__text {
        font-size: 16px;
        margin-top: 30px;
    }

    .layout__item--white {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        height: 300px;
    }

    .layout__item--gray {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        height: 200px;
    }

    .layout__item--brown {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        height: 150px;
    }

    .layout__item--red {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        height: 120px;
    }

    .layout__item:nth-child(5) {
        /* Img1 */
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        height: 400px;
    }

    .layout__item:nth-child(8) {
        /* Img4 */
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        height: 300px;
    }

    .layout__item--brown {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        height: 300px;
    }

    .layout__item:nth-child(6) {
        /* Img2 */
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        height: 300px;
    }

    .layout__item:nth-child(7) {
        /* Img3 */
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        height: 300px;
    }


    .layout__item:nth-child(9) {
        /* Img5 */
        grid-column: 1 / 2;
        grid-row: 6 / 7;
        height: 250px;
    }

    .layout__item--red {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
        height: 250px;
    }

    .layout__item:nth-child(10) {
        /* Img6 */
        grid-column: 1 / 3;
        grid-row: 7 / 8;
        height: 200px;
    }

    .layout__icons {
        gap: 15px;
    }
}
